h1{
   position:absolute;
   color:indigo;
   font-size:50px;
   font-style: bold;
   top:-40px;
   left:35px;
   width:100%;
   
}
div.table{
    position:absolute;
    /*border:1px solid red;*/
    height:100%;
    width:40%;
    left:5%;
}
div.table> table{
    /*border-color:aqua;*/
    border:2px solid indigo;
    position:absolute;
    top:70px;
    left:35px;
}
tr>th,tr>td{
    text-align:center;
    border:1px solid indigo;
}
/*tr>th:hover,tr>td:hover{
    color:indigo;
    font-size:20px;
}*/
tr:hover > td{
    background:indigo;
    /*font-size:20px;*/
    color:white;
    border:1px solid white;
}
