body{
    position:static;
    background-color: white;
}
div.main{
    position:static;
    height: 80px;
    width:100%;
    /*background-color:brown;
    border:1px solid black;*/
    color:Indigo;
    font-style:bold;
    font-size:20px;
    /*font-style:bold;*/
    display:flex;
   /* flex-flow:column wrap; /*เรียงแนวตั้ง*/
    /*flex-flow:wrap; /*เรียงแนวนอน* คือ เริ้มต้น*/
   /* flex-flow:row;*/
    flex-direction:row;
    flex-wrap:nowrap;
    align-items:center;
    margin-left:100px;
} 

div.main > a{
    margin-right:20px;
}
hr{
    position: relative;
    /*color:red;*/
    top:-20px;
    width:100%;
    height:0.1px;
    border-width: 0;
    background-color:indigo;
}
div.main > a{
    display:block;
    /*border:1px solid black;*/
    width:60px;
    height:40px;
    text-align:center;
    line-height:30px;
}
/*div.main > a:hover{
    border-bottom-color: indigo;
    border-bottom-style: solid;
    border-bottom-width:10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}*/

a>div.bar{
    /*border:1px solid brown;*/
    position: relative;
    top:30%;
    /*width:101%;*/
    /*left:30%;*/
    height:6px;
    background-color:indigo;
    border-top-left-radius: 3px;
    border-top-right-radius:3px;
    opacity:0%;
}
div.main >a:hover  div.bar{
    opacity:100%;
    animation-name:grow;
    animation-duration:0.5s;
    animation-timing-function:linear;
}
a#home > div.bar{
    opacity:100%;
  
}
@keyframes grow{
    0% {width:10%;left:50%}
    100%{width:101%;left:0%}
}