*{
    margin:0;
    padding:0;
}

div.container{
    display:flex;
    flex-direction:column;
    /*justify-content:center;*/ /*จัดเรียงตามแกนหลัก*/
    align-items:center; /*จัดแนวตั้งข้ามแกนหลัก*/
    font-family:Arial, Helvetica, sans-serif;
}
div.container  > div{
    /*height:100px;
    width:100px;*/
    /*border:1px solid black;*/
    
}
div.topmanu{
    width:100%;
    height:36px;
    background-color:#f5f5f5
}
div.topmanu > div.logo{
    position:absolute;
    width:24px;
    height:24px;
    top:6px;
    left:50px;
}
div.topmanu > div.logo img{
    width:100%;
    height:100%;
}
div.topmanu > div.logo:hover{
    opacity: 30%;
}
div.topmanu > div.submanu{
    position:absolute;
    top:6px;
    left:70%;
    width:500px;
    height:24px;
    /*border:1px solid black;*/
    font-family:Helvetica, sans-serif;
    font-size:13px;
    color:#111111;
    /*line-height:24px;*/
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
}
div.topmanu > div.submanu > a{
    margin-left:20px;
}
div.topmanu > div.submanu  >a.line{
    /*color:red;*/
    border-left:1.5px solid #111111;
    border-right:1.5px solid #111111;
    padding-left:10px;
    padding-right:10px;
}
div.topmanu > div.submanu > a:hover{
    opacity: 60%;
}
/***************************mainmanu**********************/
div.mainmanu{
    width:100%;
    height:60px;
    background-color:#ffffff;
   /* border:1px solid black;*/

}
div.mainmanu>div.logo{
    width:60px;
    height:100%;
    position:absolute;
    left:50px;
    color:#111111;
}
div.mainmanu > div.logo > img{
    position:absolute;
    width:100%;
    height:20px;
    top:20px;
    
}
    
div.mainmanu > div.logo > img:hover{
    opacity:30%;
}
div.mainmanu > div.manu{
    position:absolute;
    left:36%;
    height:60px;
    width:500px;
    /*border: 1px solid black;*/
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    color:#111111;
    font-family:Arial, Helvetica, sans-serif;

}
div.mainmanu > div.manu >a{
    display:block;
    height:100%;
    line-height:60px;
   /* border: 1px solid black;*/
    padding-left:16px;
    padding-right:16px; 
}
div.mainmanu > div.manu >a >b{
    display:block;
    position:relative;
    width:100%;
    height:2px;
    top:-2px;
    background-color:black;
    opacity: 0%;

}
div.mainmanu > div.manu >a:hover >b{
    opacity:100%;
}

div.mainmanu > div.textbox{
    width:180px;
    height:40px;
    position:relative;
   /* border:1px solid black;  */
    left:80%;
    top:10px;
    border-radius:20px;
    background-color:#f5f5f5; 
    
}  
/*div.mainmanu > div.textbox:hover{
    background-color:#dcdcdc; 
  
}*/


div.mainmanu > div.textbox > div.sar{
    /*border:1px solid black;*/
    width:40px;
    height:100%;
    border-radius:50%;
    text-align:center;
    
}
div.mainmanu > div.textbox > div.sar:hover{
    background-color:#dcdcdc;
}
div.mainmanu > div.textbox > div.sar > b{
    position:absolute;
    font-size:25px;
    left:9px;
    line-height:40px;
}
div.mainmanu >div.textbox > div.sar > input{
    position:absolute;
    width:70%;
    height:100%;
    left:20%;
    color:#c4c4c4;
    border-style:hidden;
    background:none;
    font-size:20px;
}
div.mainmanu > div.icon{
    position:absolute;
    height:60px;
    width:100px;
    /*border:1px solid black;*/
    left:92%;
    top:35px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    /*justify-content:star*/
}
div.mainmanu > div.icon > b{
    /*position:absolute;*/
    display:block;
    /*border:1px solid black;*/
    border-radius:50px;
    width:40px;
    height:40px;
   /* margin-right:30px;*/
    /*align-content:center;
    justify-content:center;*/
    font-size:24px;
   /* background-color:#dcdcdc;*/
    
    text-align:center;
    line-height:40px;
}
/*div.mainmanu > div.icon > b.bbb{
    left:60px;
}*/
div.mainmanu > div.icon>b:hover{
    background-color:#dcdcdc;
}

/*************Covid******************/

div.container > div.covid{
    width:100%;
    height:58px;
    background-color:#f5f5f5;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#111111;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    text-decoration: none;
}
/***********manmanu********************/
div.container > div.man_manu{
   /* border:1px solid black;*/
    height:104px;
    width:100%;
    background-color:#ffffff;
    color:#111111;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    gap:25px;
}
div.container > div.man_manu >a{
    text-decoration:none;
    color:#111111;
    font-size:16px;
}
div.container > div.man_manu >a:hover:not(.man){
    opacity:60%;
}
div.container > div.man_manu >a.man{
    color:#111111;
    font-size:24px;
    position:absolute;
    left:0px;
    left:50px;
}
/****************pic_main******************/
div.container > div.pic_main{
    width:100%;
    height:856px;
    /*border:1px solid black;*/
}
div.container > div.pic_main >img{
    /*position:absolute;*/
    position:relative;
    left:50px;
    width:94.5%;
    right:50px;  
}
/****************รองเท้าเด่น*************/
div.container > div.dan{
    /*border:1px solid black;*/
    width:94.5%;
    height:40px;
    margin-top:150px;
    left:50px;
    display:flex;
   align-items:flex-end;
}
div.container > div.dan > a{
    color:#111111;
    text-decoration:none;
    font-size:24px;
    
}
/*****************sile****************/
div.container > div.side{
    /*border:1px solid black;*/
    margin-top:20px;
    width:94.5%;
    height:150mm;
    white-space:nowrap;
    overflow-x:scroll;
    overflow-y:hidden;

}
div.container > div.side > div{
    position:relative;
    display:inline-block;
    height:100%;
    width:32.63%;
   /* border:1px solid black;*/
    margin-right:12px;
    
}
div.container > div.side > div > img{
    position:relative;
    width:100%;
    height:87%;
    display:block;
}
div.container > div.side > div > p.p1{
 /*  border:1px solid black;*/
   position:relative;
   width:80%;
   display:inline-block;
   margin-top:20px;
   font-size:16px;
   color:#111111;
   
   
}
div.container > div.side > div > p.p2{
    /*border:1px solid black;*/
    position:relative;
    width:19%;
    display:inline-block;
    margin-top:20px;
    font-size:16px;
    color:#111111;
    text-align:right;
 }
 div.container > div.side > div >p.p3{
     /* border:1px solid black;*/
      position:relative;
      display:block;
      width:50%;
      color:#757575;
      font-size:16px;
 }

 /************************ห้ามพลาด*************************/
 div.container > div.notp{
    /* border:1px solid black;*/
     width:94.5%;
     height:24mm;
     display:flex;
     flex-direction:row;
     align-items:flex-end;
 }
 div.container > div.notp > p{
     color:#111111;
     font-size:24px;
     display:inline;
     /*border:1px solid black;*/
 }
 /**********************รูป-ห้ามพลาด*********************/
 div.container > div.notp-box{
    /* border:1px solid black;*/
     height:250mm;
     width:94.5%;
     margin-top:23px;
     white-space:nowrap;
 }
 div.container > div.notp-box >div{
     /*border:1px solid black;*/
     width:49.5%;
     height:100%;
     display:inline-block;
    /* position:absolute;*/
     margin-right:10px;
     white-space:nowrap;
 }
 div.container > div.notp-box > div > img{
     position:relative;
     width:100%;
     height:100%;
     display:inline-block;
  
 }
 /*******************กำลังฮิต*************/
 div.container > div.hit{
     /*border:1px solid black;*/
     width:94.5%;
     height:250mm;
     margin-top:90px;
 }
 div.container > div.hit > p{
    /* border:1px solid black;*/
     display:block;
     color:#111111;
     font-size:24px;
 }
 div.container > div.hit > img{
     display:block;
     width:100%;
     height:94%;
     /*border:1px solid red;*/
     margin-top:20px;
 }
 /**************สินค้าพื้นฐาน**************/
 div.container > div.basic {
     /*border:1px solid black;*/
     width:94.5%;
     height:200mm;
     margin-top:90px;
 }
 div.container > div.basic > p{
     display:block;
     font-size:24px;
     color:#111111;
    /* border:1px solid red;*/

 }
 div.container > div.basic > div{
    /* border:1px solid black;*/
    /* display:inline-block;*/
     margin-top:20px;
     height:93%;
     white-space:nowrap;
 }
 div.container > div.basic > div > div{
    position:relative;
    display:inline-block;
    /*border:1px solid blue;*/
     height:100%;
     width:32.7%;
     margin-right:10px;
     
 }
 div.container > div.basic > div > div > img{
     display:inline-block;
     position:absolute;
     width:100%;
     height:100%;
 }
 div.container > div.basic > div > div > div{
     position:absolute;
     display:inline-block;
     width:35mm;
     height:10mm;
   /*  border: 1px solid black;*/
     text-align:center;
     line-height:10mm;
     background-color:#ffffff;
     border-radius:7mm;
     color:#111111;
     font-size:16px;
     left:30px;
     top:88%;

 }
 div.container > div.basic > div > div > div:hover{
     opacity:70%;
     
 }
 /************************list*****************/
 div.container > div.list{
    /* border:1px solid black;*/
     width:60%;
     height:160px;
     margin-top:70px;
     white-space:nowrap;
     display:inline-block;
    
 }
 div.container > div.list > div{
     position:relative;
     display:inline-block;
     /*border:1px solid black;*/
     height:100%;
     width:24.9%;
     margin-right:-5px;  
     font-size:16px;
    
 }
 div.container > div.list > div >p{
     display:inline-block;
     position:relative;
     width:100%;
     /*border:1px solid red;*/
     color:black;
 } 
 div.container > div.list >div > ol{
     display:block;
     list-style-type: none;
     position:relative;
     width:100%;
    /* border:1px solid red;*/
     margin-top:20px;
     color:#757575;
 }
 div.container > div.list > div > ol > li{
     margin-bottom:10px;
 }
 div.container > div.list > div > ol > li:hover{
    color:#111111;
}
/********footer**************/
div.container > div.footter{
    width:100%;
    height:80mm;
    background-color:black;
    margin-top:35px;
    display:grid;
    grid-template-rows:repeat(5,20%);
    grid-template-columns:repeat(20,5%);
}
div.container > div.footter > div.box1{
      /*border:1px solid white;*/
      grid-area:1/1/6/4;
      color:white;
}
div.container > div.footter > div.box2{
   /* border:1px solid white;*/
    grid-area:1/4/5/18;
    color:white;
    display:flex;
    flex-direction:row;


}
div.container > div.footter > div.box2 > hr{
    border-color:#7E7E7E;
    position:absolute;
    width:70%;
    margin-top:250px;
    
   
}
div.container > div.footter > div.box2 > div{
    /*order:1px solid red;*/
    width:200px;
}
div.container > div.footter > div.box2 > div.he{
    margin-top:50px;
}
div.container > div.footter > div.box2 > div.he > p{
    color:#FFFFFF;
    font-size:16px;
    margin-bottom:15px;
}
div.container > div.footter > div.box2 > div.li{
    margin-top:50px;
}
div.container > div.footter > div.box2 > div.li >p{
    color:#FFFFFF;
    margin-bottom:15px;
    font-size:16px;
}
div.container > div.footter > div.box2 > div.li > ol{
    display:block;
    list-style-type:none;

}
div.container > div.footter > div.box2 > div.li >ol > li{
     margin-bottom:12px;
     color:#7E7E7E;
     font-size:13px;
}
div.container > div.footter > div.box2 > div.li >ol > li:hover{
    color:#FFFFFF;
}
div.container > div.footter > div.box2 > div.logo{
   height:80%;
   width:722px;
   margin-top:50px;
   display:flex;
   flex-direction:row;
   justify-content:flex-end;
   
}
div.container > div.footter > div.box2 > div.logo > svg{
    /*border:1px solid red;*/
    width:30px;
    height:30px;
    display:block;
    /*background-color:pink;*/
    margin-left:15px;
 
}

div.container > div.footter > div.box2 > div.logo > svg > path{
    /*background-color:#7E7E7E;*/
    fill:#7E7E7E;
}
div.container > div.footter > div.box2 > div.logo > svg > path:hover{
    fill:#FFFFFF;
}

div.container > div.footter > div.box3{
    /*border:1px solid white;*/
    grid-area:5/4/6/6;
    color:white;
    white-space:nowrap;
}

div.container > div.footter > div.box3 > div{
    color:#FFFFFF;
  /*  border:1px solid red;*/
    display:inline-block;
    height:100%;
    width:25%;
    margin-right:-6px;
    line-height:70px;
   
}
div.container > div.footter > div.box3 >div > p{
    display:inline-block;
    /*border:1px solid red;*/
    color:white;
    width:15px;
    height:18px;
    font-size:18px;     
}
div.container > div.footter > div.box3 > div >u{
    text-decoration:none;
    color:white;
  
    font-size:10px;
    margin-top:8px;
    display:inline-block;
}
div.container > div.footter > div.box3 > div + div{
    display:inline-block;
    width:75%;
    
}
div.container > div.footter > div.box3 > div >a{
    color:brown;
}

div.container > div.footter > div.box4{
    /*border:1px solid white;*/
    grid-area:1/18/6/21;
    color:white;
}
div.container > div.footter > div.box5{
  /*  border:1px solid white;*/
    grid-area:5/6/6/18;
    color:white;
    display:flex;
    flex-direction:row;
    justify-content: flex-end;

}
div.container > div.footter > div.box5 > u{
    text-decoration:none;
    display:inline-block;
    height:100%;
    /*border:1px solid red;*/
    margin-left:25px;
    line-height:80px;
    font-size:10px;
    color:#7E7E7E;

}