*{
    padding:0;
    margin:0;
}
div.about{
    position:fixed;
    /*border:1px solid black;*/
    width:50px;
    height:30px;
    top:0px;
    right:60px;
    background-color:#fc5424;
    z-index:2;
}
div.about > hr{
    position:relative;
    border-color:white;
    border-style: solid;
    height:0.1px;
    background-color:white;
    top:23px;
    /*left:5px;*/
    width:70%;
    border:0;
    height:1px;
    margin-left:auto;
    margin-right:auto;


}
div.about:hover{
    animation-play-state:running;
    animation-name:about;
    animation-duration:0s;
    animation-fill-mode:forwards;
    animation-timing-function:linear;
    
}
div.about:hover > hr{
    top:33px;
 
    
}
div.about > i{
    position:relative;
    top:30px;
    left:2px;
    color:#636363;
    font-size:14px;
    font-family:Arial, Helvetica, sans-serif;
    font-style:normal;
}
div.about:hover > i{
    top:40px;
}
@keyframes about{
    0%{height:30px;}
    100%{height:40px;}
}
div.logop{
    /*border:1px solid black;*/
    position:fixed;
    width:100px;
    height:100px;
    top:7mm;
    left:15mm;
    z-index:2;
}
div.name{
    position:fixed;
    /*border:1px solid black;*/
    width: 45px;
    height:168px;
    /*width:300px;
    height:300px;*/
    top:120mm;
    left:20mm;
    z-index:2;
}
div.name > h1{
    transform:rotate(270deg);
    color:#fc5424;
    font-size:50px;
    position:relative;
    top:70px;

}
div.name > hr{
    position:relative;
    border:0;
    height:1.5px;
    background-color:#fc5424;
    top:110px;
    transform:rotate(90deg);
    width:9mm;
    margin-left:auto;
    margin-right:auto;
}
div#box{
    display:flex;
    flex-direction:column;
    width:100%;
    /*border:1px solid red;*/
     align-items:center; 
     position:absolute;
     margin:0;
     padding:0;
}
div#box > div{
    border:1px solid black;
    display:block;
    /*height:100px;*/
    width:300px;
    height:500px;

}
div#box > div#black{
    width:100%;
    height:800px;
    z-index:1;
}
div#box > div#black > img{
    display:block;
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    
}
div#box > div.form {
    position:relative;
    border:1px solid black;
    width:60%;
    background-color:white;
    border-radius:20px;
    top:-70mm;
    z-index:2;
    display:flex;
    flex-direction:column;
    /*height:250mm;*/
    height:200mm;
}
div#box > div.form > div{
    border:1px solid black;
    width:100%;
}
div#box > div.form > div.title{
    height:60mm;
}
div#box > div.form > div.title > div{
    /*border:1px solid black;*/
    position:relative;
    width:80%;
    height:10mm;
    margin-left:auto;
    margin-right:auto;
    top:20mm;   
    display:flex;
    justify-content:center;
}
div#box > div.form > div.title > div > span{ /*เขียนแบบนี้สำคัญกว่าแบบล่าง color  
                                              ของspan ไม่ยอมเปลี่ยนเป็น สีแดง*/
    /*font-size:3.9vw;                       /***แบบมีclassแล้วก็เหมื่อนกันคือไม่ได้*/
    /*font-style:bold;                          /***แบบมีidแล้วก็เหมื่อนกันคือไม่ได้*/
    /*color:black;  
    /**ต้องเขียนรูปแบบเดี่ยวกัน(แบบละเอียด)*/
    font-family:sans-serif; 
    /*border:1px solid black;*/
    color:aqua;
    position:relative;
   

}
div#box > div.form > div.title > div > span > span{
      color:black;
      font-size:3.9vw;

}

div#box > div.form > div.title > div >span > span.today{
    color:red;
}
div#box > div.form > div.input_text{
    height:110mm;
    width:90%;
    margin-right:auto;
    margin-left:auto;

}
@media only screen and (max-width:480px){
   div#box > div.form > div.input_text{
       display:grid;
       grid-template-columns:repeat(1,auto);
       grid-template-rows:repeat(20,10mm);
       color:blue;
   }
   div#box > div.form > div.input_text > div{
        border:1px solid palegreen;
   }
}
@media only screen and (min-width:481px) and (max-width:4000px){
    div#box > div.form > div.input_text{
        display:grid;
        grid-template-columns:repeat(2,auto);
        grid-template-rows:repeat(20,10mm);
        color:red;
   }  
   div#box > div.form > div.input_text > div{
          border:1px solid black;
   }


}
 
    

